html {
    font-size: 16px;
    font-family: sans-serif;
}

div.wrapper {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    background: rgba(38, 75, 171, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div#logo {

}

header div#logo a {

}

header div#logo a img {
    max-width: 100px;
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header nav button#menu_toggle {
    display: none;
    font-size: 3em;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

header nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
}

header nav ul li {

}

header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

header nav ul li a:hover {
    background: rgba(0, 0, 0, 0.1);
}

header nav ul li a:focus {
    background: rgba(0, 0, 0, 0.3);
}

header nav ul li a:active {
    background: rgba(0, 0, 0, 0.5);
}

main {
    flex: 1 1 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    min-height: 500px;
}

main div.info {
    color: white;
    max-width: 500px;
    text-align: center;
    font-size: 1.4em;
    margin: 0 auto;
}

main div.info ul {
    margin: 0;
    list-style-type: none;
}

main div.info ul li {
    margin: 1em 0;
}

main div.info ul li a {
    color: white;
}

main div.info ul li a:hover {
    background: #264bab;
}

main div.info ul li a:focus {
    background: #5e81db;
}

main div.info ul li a:active {
    background: #18306f;
}

main div.column-wrapper {
    position: absolute;
    top: 10px;
    z-index: 9999;
}

main div.column-wrapper.left {
    left: 10px;
}

main div.column-wrapper.right {
    right: 10px;
}

main img#mobileFilter, main img#mobileRouteInfo, main img#mobileWeather {
    display: none;
}

main div#route_info div.head span {
    margin-right: 1em;
}

main div#route_info div.content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main div#route_info div.content ul li {
    margin: 0.2em 0;
    display: flex;
    justify-content: space-between;
}

main div#route_info div.content ul li > span {
    flex: 1 1 auto;
}

main div#route_info div.content ul li i {
    flex: 0 0 auto;
    min-width: 25px;
    text-align: center;
    margin-right: 0.1em;
}

main div#route_info div.content ul li svg {
    min-width: 25px;
    height: 17px;
    text-align: center;
    margin-right: 0.1em;
}

main div#route_info div.content ul li i.info_icon {
    text-align: right;
    min-width: 0;
    align-self: center;
    cursor: pointer;
}

main div#route_info {
    width: 200px;
    background: white;
    border: 3px solid rgba(38, 75, 171, 1);
    font-size: 1.1em;
    padding: 0.3em;
    box-sizing: border-box;
    display: none;
}

main #level-panel {
    padding: 5px 10px;
    max-width: 250px;
    position: relative;
    color: #000;
}

main #level-panel > .upper {
    display: flex;
    width: 100%;
    align-items: center;
}

main #level-panel > .upper > .image {
    flex: 0 0 50px;
    position: relative;
    text-align: center;
    font-size: large;
    font-size: 0.90em;
    color: #264bab;
}

main #level-panel > .upper > .image > p{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
}

main #level-panel > .upper > .image > img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

main #level-panel > .upper > .rows {
    flex: 1 1 100%;
    padding: 5px;
    font-size: large;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
}

main #level-panel > .upper > .rows > .title {
    border: 3px solid #264bab;
    background: #fff;
    border-radius: 5px;
    padding: 3px;
    white-space: pre;
    min-width: 125px;
    width: 100%;
    font-size: 0.90em;
    text-align: center;
    overflow-x: hidden;
    flex-shrink: 2;
}

main #level-panel > .upper > .rows > .user-progress {
    min-width: 125px;
    height: 18px;
    border-radius: 5px;
    margin-top: 5px;
    border: 3px solid #264bab;
    background: #f6fbff;
    position: relative;
    text-align: center;
    width: 100%;
    flex-shrink: 2;
}

main #level-panel > .upper > .rows > .user-progress > .user-exp {
    height: 100%;
    max-width: 100%;
    width: 0;
    background: #81fc5d;
    position: absolute;
    z-index: 0;
    flex-shrink: 2;
}

main #level-panel > .upper > .rows > .user-progress > .text {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    font-size: 0.95em;
    color: rgb(38 75 171);
}

main div#filters {
    box-sizing: border-box;
    width: 200px;
    background: white;
    border: 3px solid rgba(38, 75, 171, 1);
    font-size: 1.1em;
    padding: 0.3em;
    margin-bottom: 10px
}

main div#filters div.head, main div#route_info div.head {
    padding-bottom: 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main div#filters div.head span {
}

main div#filters div.head button#filter_toggle, main div#route_info div.head button#route_info_toggle {
    border: 0;
    background: 0;
    cursor: pointer;
}

main div#filters div.content, main div#route_info div.content {
    border-top: 3px solid rgba(38, 75, 171, 1);
    padding-top: 0.3em;
}

input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2713";
    border: 3px solid rgba(38, 75, 171, 1);
    border-radius: 0.1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.2em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: 0.2s;
}

input[type=checkbox]:checked + label:before {

    background: rgba(38, 75, 171, 1);
    border: 3px solid rgba(38, 75, 171, 1);
    color: white;
}
input[type=checkbox]:disabled + label:before{
    border-color: gray;
}

input[type=checkbox]:disabled + label[for=pumps]{
    color: gray;

}
input[type=checkbox]:disabled + label[for=pumps]:after{
    color: gray;
    white-space: nowrap;
    content: "(ej tillgänglig)";
    font-size: 13px;
}

input[type=checkbox]:disabled + label[for=parking]{
    color: gray;


}
input[type=checkbox]:disabled + label[for=parking]:after{
    color: gray;
    white-space: nowrap;
    content: " (ej tillgänglig)";
    font-size: 13px;
}



main div#filters.closed div.head, main div#route_info.closed div.head {
    padding: 0;
}

main div#filters.closed div.content, main div#route_info.closed div.content {
    display: none;
}

main div#weather-data {
    width: 200px;
    background: white;
    border: 3px solid rgba(38, 75, 171, 1);
    font-size: 1.1em;
    padding: 0.3em;
    margin-bottom: 10px;
    box-sizing: border-box;
}

main div#weather-data div.head {
    padding-bottom: 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main div#weather-data div.head > .weather-loading {
    display: none;
    width: 24px;
    height: 24px;
}

/** Weather panel loading **/
main div#weather-data.loading div.head > .weather-loading {
    display: block;
}

main div#weather-data.loading div.head > .location-dropdown {
    display: none;
}

main div#weather-data.loading div.head > #weather-data-toggle {
    display: none;
}

main div#weather-data.loading div.content {
    display: none;
}
/** Weather panel loading **/

main div#weather-data div.content {
    border-top: 3px solid rgba(38, 75, 171, 1);
    padding-top: 0.3em;
}

main div#weather-data div.content > img {
    float: right;
    width: 30px;
    height: 30px;
}

main div#weather-data div.content > p {
    margin: 0;
}

main div#weather-data.closed div.head {
    padding: 0;
}

main div#weather-data.closed div.content {
    display: none;
}

main div#weather-data div.head button#weather-data-toggle {
    background: 0;
    border: 0;
    cursor: pointer;
}

.location-dropdown-button {
    background-color: white;
    color: black;
    border: 3px solid rgba(38, 75, 171, 1);
    padding: 4px;
    font-size: 16px;
    cursor: pointer;
}

.location-dropdown-button:hover, .location-dropdown-button:focus {
    background-color: lightgray;
    color: black;
    border: 3px solid rgba(32, 64, 146, 1);
}

.location-dropdown {
    position: relative;
    display: inline-block;
}

.location-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    font-size: 0;
    z-index: 1000;
}

.location-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    cursor: pointer;
}

.location-dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

main div#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

main div#map div.leaflet-routing-container {
    display: none;
}

main div#map .station-popups > .content > p {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer .attribution {
    margin: 0 auto;
    width: 100px;
    position: relative;
}

footer .attribution > .popup {
    position: absolute;
    background: #ffff;
    width: 247px;
    height: 50px;
    bottom: 25px;
    z-index: 10000;
    border-radius: 5px;
    color: black;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.20), 0 2px 2px rgba(0, 0, 0, 0.20);
    border: 3px solid #264bab;
    display: none;
    left: -80px;
    padding: 15px;
}

footer .attribution:hover > .popup {
    display: block;
}

main #geolocator {
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 100px;
    width: 33px;
    background: #fff;
    height: 33px;
    cursor: pointer;
    border: unset;
    z-index: 1000;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.20), 0 2px 2px rgba(0, 0, 0, 0.20);
    padding: 0;
}

main #geolocator:not([disabled]):hover {
    transform: scale(0.95);
    transition: all 0.5s;
}

main div.navigation {
    position: absolute;
    z-index: 1000;
    bottom: 10px;
    left: 10px;
}

main div.navigation > .main-panel {
    display: none;
    border: 3px solid rgba(38, 75, 171, 1);
    width: 300px;
    min-height: 100px;
    background: #fff;
    margin-bottom: 5px;
    padding: 5px;
}

main div.navigation > .main-panel.hasRoute > .route-setup {
    display: none;
}

main div.navigation > .main-panel:not(.hasRoute) > .route-information {
    display: none;
}

main div.navigation > .main-panel > .route-setup > .input > .radio-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main div.navigation > .main-panel > .route-setup > .input > .radio-wrapper > div {
   flex: 1 1 100%;
}

main div.navigation > .main-panel > .route-setup > .input {
    display: block;
    width: 100%;
    padding: 5px;
}

.select2-result-item > .panel > p {
    margin: 0;
}

main div.navigation > .button-panel {
    background: white;
    border: 3px solid rgba(38, 75, 171, 1);
    font-size: 1.1em;
    padding: 0.3em;
    max-width: 135px;
    text-align: center;
}

footer {
    flex: 0 0 0;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    background: rgba(38, 75, 171, 1);
    color: white;
    text-align: center;
    font-size: 1.2em;
}

div.dialog {
    position: absolute;
    margin: 0 auto;
    min-width: 400px;
    width: 60vw;
    max-height: 70vh;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 2000;
    background: white;
    border: 3px solid rgba(38, 75, 171, 1);
    padding: 0.3em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

div.dialog div.head {
    flex: 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.3em;
    font-size: 1.1em;
    font-weight: 700;
}

div.dialog div.head span {

}

div.dialog div.head button.dialog_close_button {
    border: 0;
    background: 0;
    cursor: pointer;
}

div.dialog div.content {
    flex: 1 1 100%;
    border-top: 3px solid rgba(38, 75, 171, 1);
    border-bottom: 3px solid rgba(38, 75, 171, 1);
    padding: 0.3em 0;
    width: 100%;
    overflow: auto;
}

div.dialog div.controls {
    flex: 0 0 0;
    align-self: end;
    padding-top: 0.3em;
}

div.dialog div.controls button.dialog_close_button {
    cursor: pointer;
}

main img#walkingIcon{
    position: relative;
    top: 5px;
}



@media (max-width: 600px) {
    header nav {

    }

    header nav button#menu_toggle {
        display: block;
    }

    header nav ul {
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        height: 100vh;
        min-width: 60%;
        z-index: 1001;
        padding: 0;
        transform: translateX(-100%);
        transition: transform 0.2s ease;
        box-shadow: 0 0 10px black;
    }

    header nav ul.visible {
        transform: translateX(0);
    }

    header nav ul li {

    }

    header nav ul li a {
        color: black;
    }

    main div#filters {
        box-sizing: border-box;
        width: 200px;
        top: 10px;
        right: 10px;
        font-size: 1.1em;
    }

    main div#filters div.head {
    }

    main div#filters div.head button#filter_toggle, main div#route_info div.head button#route_info_toggle {
        font-size: 1.5em;
    }

    main div#weather-data {
        box-sizing: border-box;
        width: 200px;
        top: 10px;
        right: 10px;
        font-size: 1.1em;
    }

    main div#weather-data div.head {
    }
}

@media(max-width: 450px){

    main div#filters, main div#route_info, main div#weather-data{
        display: none;
    }

    main div#filters.hidden,  div#weather-data.hidden, main img#mobileRouteInfo.hidden {
        display: none;
    }

    main div#filters.hidden, div#weather-data.hidden, main img#mobileRouteInfo.hidden{
        display: block;
    }

    main img#mobileFilter, main img#mobileWeather, main img#mobileRouteInfo {
        display: block;
        margin-top: 10px;
        background-color: #03b721;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    main img#mobileWeather.change, main img#mobileFilter.change, main img#mobileRouteInfo.change{
        background-color: #e71b1b;
    }
}

@media(max-width: 350px){
    main div.navigation > .main-panel {
        width: 250px;
    }
}
